<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="OperationManagementEntities" connectionString="metadata=res://*/Data.Entities.csdl|res://*/Data.Entities.ssdl|res://*/Data.Entities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database=alarmworkflow;Persist Security Info=True&quot;" providerName="System.Data.EntityClient"/></connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
