<?xml version="1.0" encoding="utf-8" ?>
<SettingsConfiguration Version="1" Identifier="IlsAnsbachParser">

  <Setting Name="Keywords" Type="System.String" IsNull="False" Editor="StringArrayTypeEditor">
    <![CDATA[Absender
Fax
Termin
Einsatznummer
Name
Straße
Ort
Objekt
Plannummer
Station
Straße
Ort
Objekt
Station
Schlagw
Stichwort
Prio
Einsatzmittel
Alarmiert
Geforderte Ausstattung]]></Setting>

</SettingsConfiguration>
