# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# Java Folders
gen

# mstest test results
TestResults

# Misc files
*.suo
*.user
*.db

# Folders
/Build/Config
/Installer/Build