# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
*metadata

# Java Folders/Files
gen
*.apk

# mstest test results
TestResults

# Misc files
*.suo
*.user
*.db
*.bak
*.InstallState

# Folders
/Build/Config