@using System.ServiceModel
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Fehler";
}

<hgroup class="title">
    <h1 class="error">Fehler.</h1>
    <h2 class="error">Während der Verarbeitung ist ein Fehler aufgetreten.</h2>
</hgroup>

<p>
    <p class="error">
        @if (Model.Exception is EndpointNotFoundException)
        {
            <span>
                <strong>Der Service ist nicht erreichbar.</strong>
                <br />
                <br />
                Dies ist ein Anzeichen dafür, dass der Service auf der angegebenen Maschine nicht läuft.
            </span>
        }
        else
        {
            <span>Dies kann verschiedene Ursachen haben.
            </span>
        }

        <br />
        <br />
        Benachrichtigen Sie Ihren Administrator und laden Sie ggf. die Seite erneut. 
    </p>
</p>
