@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        &copy; 2012 - 2014 The AlarmWorkflow-Team
    </p>
    <p>
        See <a href="http://openfiresource.de" /> for information.
    </p>
</article>