<?xml version="1.0" encoding="utf-8" ?>
<SettingsConfiguration Identifier="Engine">
  <Setting Name="JobsConfiguration" Type="AlarmWorkflow.Shared.Core.ExportConfiguration, AlarmWorkflow.Shared">
    <![CDATA[<ExportConfiguration />]]>
  </Setting>
  <Setting Name="AlarmSourcesConfiguration" Type="AlarmWorkflow.Shared.Core.ExportConfiguration, AlarmWorkflow.Shared">
    <![CDATA[<ExportConfiguration />]]>
  </Setting>
  <Setting Name="IgnoreOperationsWithSameOperationNumber" Type="System.Boolean">False</Setting>
</SettingsConfiguration>