<?xml version="1.0" encoding="utf-8" ?>
<SettingsConfiguration Version="1" Identifier="Shared">

  <!-- Generic -->
  <Setting Name="OperationStore" Type="System.String" IsNull="False">MySqlOperationStore</Setting>

  <!-- Fire department information -->
  <Setting Name="FD.Name" Type="System.String">Name Ihrer Feuerwehr</Setting>
  <Setting Name="FD.City" Type="System.String" IsNull="True" />
  <Setting Name="FD.ZipCode" Type="System.String" IsNull="True" />
  <Setting Name="FD.Street" Type="System.String" IsNull="True" />
  <Setting Name="FD.StreetNumber" Type="System.String" IsNull="True" />
  
  <Setting Name="FD.Units" Type="System.String">
    <![CDATA[<FDResourceConfiguration FDIdentification="" />]]>
  </Setting>
  <Setting Name="FD.FilterUnits" Type="System.Boolean">False</Setting>
  
  <!-- Jobs configuration -->
  <Setting Name="JobsConfiguration" Type="System.String">
    <![CDATA[<ExportConfiguration />]]></Setting>
  
  <!-- Alarm sources configuration -->
  <Setting Name="AlarmSourcesConfiguration" Type="System.String">
    <![CDATA[<ExportConfiguration />]]>
  </Setting>

</SettingsConfiguration>