<?xml version="1.0" encoding="utf-8" ?>
<SettingsConfiguration Version="1" Identifier="Shared">

  <!-- Generic -->
  <Setting Name="OperationStore" Type="System.String" IsNull="False">SQLCEDatabaseOperationStore</Setting>
  <Setting Name="RoutePlanProvider" Type="System.String" IsNull="False">GoogleMapsProvider</Setting>

  <!-- Fire department information -->
  <Setting Name="FD.Name" Type="System.String">Name Ihrer Feuerwehr</Setting>
  <Setting Name="FD.City" Type="System.String" IsNull="True" />
  <Setting Name="FD.ZipCode" Type="System.String" IsNull="True" />
  <Setting Name="FD.Street" Type="System.String" IsNull="True" />
  <Setting Name="FD.StreetNumber" Type="System.String" IsNull="True" />

  <!-- Route plan -->
  <Setting Name="DownloadRoutePlan" Type="System.Boolean">True</Setting>
  <Setting Name="RouteImageHeight" Type="System.Int32">800</Setting>
  <Setting Name="RouteImageWidth" Type="System.Int32">800</Setting>
  
  <!-- Jobs configuration -->
  <Setting Name="JobsConfiguration" Type="System.String">
    <![CDATA[<ExportConfiguration>
    <Export Name="DisplayWakeUpJob" IsEnabled="False" />
    <Export Name="MailingJob" IsEnabled="False" />
    <Export Name="MySqlDatabaseJob" IsEnabled="False" />
    <Export Name="SmsJob" IsEnabled="False" />
    <Export Name="SQLCEDatabaseJob" IsEnabled="True" />
    <Export Name="ProwlJob" IsEnabled="False" />
  </ExportConfiguration>]]></Setting>
  
  <!-- Alarm sources configuration -->
  <Setting Name="AlarmSourcesConfiguration" Type="System.String">
    <![CDATA[<ExportConfiguration>
    <Export Name="FaxAlarmSource" IsEnabled="True" />
  </ExportConfiguration>]]>
  </Setting>
  
  <!-- Addressbook -->
  <Setting Name="AddressBook" Type="System.String">
    <![CDATA[<AddressBook>
  <Entry Name="John Doe">
    <MobilePhone>0123456789</MobilePhone>
    <Mail>john.doe@example.com</Mail>
    <Prowl IsEnabled="false"></Prowl>
    <Schleifen>
      <ID>1</ID>
      <ID>2</ID>
      <ID>3</ID>
    </Schleifen>
  </Entry>
</AddressBook>]]>
  </Setting>

</SettingsConfiguration>