<?xml version="1.0" encoding="utf-8" ?>
<SettingsConfiguration Version="1" Identifier="FaxAlarmSource">
  <Setting Name="FaxPath" Type="System.String" IsNull="False">C:\Fax</Setting>
  <Setting Name="ArchivePath" Type="System.String" IsNull="False">C:\Fax\Archive\</Setting>
  <Setting Name="AnalysisPath" Type="System.String" IsNull="False">C:\Fax\Analysis\</Setting>
  <Setting Name="OCR.Software" Type="System.String" IsNull="False">Tesseract</Setting>
  <Setting Name="OCR.Path" Type="System.String" IsNull="False"></Setting>
  <Setting Name="Routine.Interval" Type="System.Int32" IsNull="False">1500</Setting>
  <Setting Name="AlarmfaxParser" Type="System.String" IsNull="False">NoParser</Setting>
  <Setting Name="FaxWhitelist" Type="System.String">
    <![CDATA[]]>
  </Setting>
  <Setting Name="FaxBlacklist" Type="System.String" IsNull="False">
    <![CDATA[Testfax
Test]]>
  </Setting>
</SettingsConfiguration>
