<?xml version="1.0" encoding="utf-8" ?>
<SettingsConfiguration Version="1" Identifier="FaxAlarmSource">
  <Setting Name="FaxPath" Type="System.String" IsNull="False">C:\Fax</Setting>
  <Setting Name="ArchivePath" Type="System.String" IsNull="False">C:\Fax\Archive\</Setting>
  <Setting Name="AnalysisPath" Type="System.String" IsNull="False">C:\Fax\Analysis\</Setting>
  <Setting Name="ConvertToPdf" Type="System.Boolean" IsNull="False">False</Setting>
  <Setting Name="OCR.Path" Type="System.String" IsNull="False"></Setting>
  <Setting Name="AlarmfaxParser" Type="System.String" IsNull="False">NoParser</Setting>
</SettingsConfiguration>
