<?xml version="1.0" encoding="utf-8" ?>
<SettingsConfiguration Version="1" Identifier="DisplayWakeUpJob">
  
  <Setting Name="TurnOffTimeout" Type="System.Int32">180</Setting>
  
  <!-- Display configuration -->
  <Setting Name="DisplayConfiguration" Type="System.String"><![CDATA[-- One monitor per line
-- TurnOnUrl;TurnOffUrl
http://admin:TFTPowerControl@192.168.0.243:80/SWITCH.CGI?s1=1;http://admin:TFTPowerControl@192.168.0.243:80/SWITCH.CGI?s1=0]]>
</Setting>

  <Setting Name="IgnoreErrorInResponse" Type="System.Boolean">False</Setting>
  
</SettingsConfiguration>
