<?xml version="1.0" encoding="utf-8"?>

<SettingsConfiguration Version="1" Identifier="OperationWidget">
  <Setting Name="LineOne" Type="System.String">{Einsatzort}</Setting>
  <Setting Name="LineTwo" Type="System.String">{Picture} {Comment}</Setting>
  <Setting Name="LineThree" Type="System.String">{Keywords}</Setting>
</SettingsConfiguration>