<?xml version="1.0" encoding="utf-8"?>

<SettingsConfiguration Version="1" Identifier="OperationWidget">
  <Setting Name="LineOne" Type="System.String"></Setting>
  <Setting Name="LineTwo" Type="System.String"></Setting>
  <Setting Name="LineThree" Type="System.String"></Setting>
</SettingsConfiguration>