<?xml version="1.0" encoding="utf-8" ?>
<SettingsConfiguration Version="1" Identifier="UIConfiguration">

  <Setting Name="OperationViewer" Type="System.String">CustomOperationViewer</Setting>
  <Setting Name="AcknowledgeOperationKey" Type="System.String" IsNull="False">B</Setting>
  <Setting Name="MaxAlarmsInUI" Type="System.Int32">0</Setting>
  <Setting Name="FullscreenOnAlarm" Type="System.Boolean" IsNull="False">False</Setting>

  <Setting Name="JobsConfiguration" Type="AlarmWorkflow.Shared.Core.ExportConfiguration, AlarmWorkflow.Shared" IsNull="False">
    <![CDATA[<ExportConfiguration />]]>
  </Setting>
  <Setting Name="IdleJobsConfiguration" Type="AlarmWorkflow.Shared.Core.ExportConfiguration, AlarmWorkflow.Shared" IsNull="False">
    <![CDATA[<ExportConfiguration />]]>
  </Setting>

  <Setting Name="AOA.IsEnabled" Type="System.Boolean" IsNull="False">False</Setting>
  <Setting Name="AOA.MaxAge" Type="System.Int32" IsNull="False">480</Setting>
  <Setting Name="AvoidScreensaver" Type="System.Boolean">False</Setting>
  
  <Setting Name="SwitchAlarms" Type="System.Boolean">False</Setting>
  <Setting Name="SwitchTime" Type="System.Int32">30</Setting>

</SettingsConfiguration>
