<?xml version="1.0" encoding="utf-8"?>

<SettingsConfiguration Version="1" Identifier="MailAlarmSource">

  <Setting Name="ServerName" Type="System.String">localhost</Setting>
  <Setting Name="Port" Type="System.Int32">110</Setting>
  <Setting Name="UserName" Type="System.String" IsNull="True" />
  <Setting Name="Password" Type="System.String" IsNull="True" />
  <Setting Name="SSL" Type="System.Boolean">false</Setting>
  <Setting Name="CodePage" Type="System.Int32">0</Setting>
  
  <Setting Name="MailSubject" Type="System.String">AlarmMail</Setting>
  <Setting Name="MailSender" Type="System.String">aa@bb.cc</Setting>

  <Setting Name="AnalyseAttachment" Type="System.Boolean">false</Setting>
  <Setting Name="AttachmentName" Type="System.String">alarm.txt</Setting>
  <Setting Name="MailParser" Type="System.String" IsNull="False">NoParser</Setting>
  
</SettingsConfiguration>