html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    border-top: 0px;
    padding-top: 0px;
}

    body > div {
        height: 100%;
        width: 100%;
    }
