<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Overall -->
    <add key="Wcf.ServiceLocations" value="Backend.Services.config" />
    
    <!-- Server settings -->
    <add key="Server.NetTcpPort" value="60000" />
    <add key="Server.DB.HostName" value="localhost" />
    <add key="Server.DB.Port" value="3306" />
    <add key="Server.DB.UserId" value="root" />
    <add key="Server.DB.Password" value="" />
    <add key="Server.DB.DatabaseName" value="alarmworkflow" />

    <!-- Client settings -->
    <add key="ServerHostAddress" value="localhost" />
  </appSettings>
</configuration>