<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <service contract="AlarmWorkflow.BackendService.SystemContracts.ISystemServiceInternal, AlarmWorkflow.BackendService.SystemContracts"
           service="AlarmWorkflow.BackendService.System.SystemServiceInternal, AlarmWorkflow.BackendService.System" />

  <service contract="AlarmWorkflow.BackendService.SettingsContracts.ISettingsServiceInternal, AlarmWorkflow.BackendService.SettingsContracts"
           service="AlarmWorkflow.BackendService.Settings.SettingsServiceInternal, AlarmWorkflow.BackendService.Settings" />
  <service contract="AlarmWorkflow.BackendService.SettingsContracts.ISettingsService, AlarmWorkflow.BackendService.SettingsContracts"
           service="AlarmWorkflow.BackendService.Settings.SettingsService, AlarmWorkflow.BackendService.Settings" />

  <service contract="AlarmWorkflow.BackendService.EngineContracts.IEngineServiceInternal, AlarmWorkflow.BackendService.EngineContracts"
           service="AlarmWorkflow.BackendService.Engine.EngineServiceInternal, AlarmWorkflow.BackendService.Engine" />

  <service contract="AlarmWorkflow.BackendService.ManagementContracts.IOperationServiceInternal, AlarmWorkflow.BackendService.ManagementContracts"
           service="AlarmWorkflow.BackendService.Management.OperationServiceInternal, AlarmWorkflow.BackendService.Management" />
  <service contract="AlarmWorkflow.BackendService.ManagementContracts.IOperationService, AlarmWorkflow.BackendService.ManagementContracts"
           service="AlarmWorkflow.BackendService.Management.OperationService, AlarmWorkflow.BackendService.Management" />

  <service contract="AlarmWorkflow.BackendService.AddressingContracts.IAddressingServiceInternal, AlarmWorkflow.BackendService.AddressingContracts"
           service="AlarmWorkflow.BackendService.Addressing.AddressingServiceInternal, AlarmWorkflow.BackendService.Addressing" />
  <service contract="AlarmWorkflow.BackendService.AddressingContracts.IAddressingService, AlarmWorkflow.BackendService.AddressingContracts"
           service="AlarmWorkflow.BackendService.Addressing.AddressingService, AlarmWorkflow.BackendService.Addressing" />

  <service contract="AlarmWorkflow.BackendService.ManagementContracts.IEmkServiceInternal, AlarmWorkflow.BackendService.ManagementContracts"
           service="AlarmWorkflow.BackendService.Management.EmkServiceInternal, AlarmWorkflow.BackendService.Management" />
  <service contract="AlarmWorkflow.BackendService.ManagementContracts.IEmkService, AlarmWorkflow.BackendService.ManagementContracts"
           service="AlarmWorkflow.BackendService.Management.EmkService, AlarmWorkflow.BackendService.Management" />

  <service contract="AlarmWorkflow.BackendService.FileTransferContracts.IFileTransferServiceInternal, AlarmWorkflow.BackendService.FileTransferContracts"
           service="AlarmWorkflow.BackendService.FileTransfer.FileTransferServiceInternal, AlarmWorkflow.BackendService.FileTransfer" />
  <service contract="AlarmWorkflow.BackendService.FileTransferContracts.IFileTransferService, AlarmWorkflow.BackendService.FileTransferContracts"
           service="AlarmWorkflow.BackendService.FileTransfer.FileTransferService, AlarmWorkflow.BackendService.FileTransfer" />
</configuration>