<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SystemEntities" connectionString="metadata=res://*/Data.SystemEntities.csdl|res://*/Data.SystemEntities.ssdl|res://*/Data.SystemEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database=alarmworkflow&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>