<?xml version="1.0" encoding="utf-8" ?>
<SettingsConfiguration Version="1" Identifier="FaxAlarmSource">

  <Setting Name="FaxPath" Type="System.String" IsNull="False" Editor="DirectoryTypeEditor">C:\Fax</Setting>
  <Setting Name="ArchivePath" Type="System.String" IsNull="False" Editor="DirectoryTypeEditor">C:\Fax\Archive\</Setting>
  <Setting Name="AnalysisPath" Type="System.String" IsNull="False" Editor="DirectoryTypeEditor">C:\Fax\Analysis\</Setting>
  <Setting Name="OCR.Software" Type="System.String" IsNull="False" >Cuneiform</Setting>
  <Setting Name="OCR.Path" Type="System.String" IsNull="False" Editor="DirectoryTypeEditor"></Setting>
  <Setting Name="Routine.Interval" Type="System.Int32" IsNull="False">1500</Setting>

  <Setting Name="AlarmfaxParser" Type="System.String" IsNull="False">MucLandParser</Setting>
  <Setting Name="TestFaxKeywords" Type="System.String" IsNull="False" Editor="StringArrayTypeEditor">
    <![CDATA[Testfax
Test]]>
  </Setting>

  <Setting Name="ReplaceDictionary" Type="System.String" IsNull="False" Editor="ReplaceDictionaryEditor">
    <![CDATA[<!-- This file stores common "misspellings" of OCR-software and replaces them with something useful
 
     Like: "9INSATZ" makes no sense but we know that it means "EINSATZ" so we add an entry (see below).
     
 -->
<Dictionary>
  <Entry Old="straBe" New="straße" />
  <Entry Old="StraBe" New="Straße" />
  
  <Entry Old="9INSATZ" New="EINSATZ" />
  <Entry Old="An~bach" New="Ansbach" />
  <Entry Old="Einsatznummer 1" New="Einsatznummer :" />
  <Entry Old="NITTEILER" New="MITTEILER" />
  <Entry Old="GmbH8cCo. KG" New="GmbH &amp; Co. KG" />
  <Entry Old="Plannummer 1" New="Plannummer :" />
  <Entry Old="Station 1" New="Station :" />
  <Entry Old="Haus-Nr. 1" New="Haus-Nr.:" />
  <Entry Old="Objekt 1" New="Objekt:" />
  <Entry Old="Schlagw. 1" New="Schlagw.:" />
  <Entry Old="Stichwort B1" New="Stichwort B:" />
  <Entry Old="Stichwort R1" New="Stichwort R:" />
  <Entry Old="Stichwort S1" New="Stichwort S:" />
  <Entry Old="Stichwort T1" New="Stichwort T:" />
  <Entry Old="Stichwort Tc" New="Stichwort T:" />
  <Entry Old="Prio. :" New="Prio.:" />
  <Entry Old="( 1satzmittel" New="Einsatzmittel" />
  <Entry Old="IJbernahme" New="Übernahme" />
  <Entry Old="Spedi iton" New="Spedition" />
  <Entry Old="Rufnummer 1" New="Rufnummer:" />
  <Entry Old=" — " New="-" />
  <Entry Old="—" New="-" />
  <Entry Old="cinsatzmittel" New="Einsatzmittel" />
  <Entry Old="EINSATZNITTEL" New="EINSATZMITTEL" />
  <Entry Old="Tragkraftspri.tze" New="Tragkraftspritze" />
  <Entry Old="41 /1" New="41/1" />
  <Entry Old="4-0/2" New="40/2" />
</Dictionary>]]>
  </Setting>

</SettingsConfiguration>
