<?xml version="1.0" encoding="utf-8" ?>
<SettingsConfiguration Version="1" Identifier="UIConfiguration">

  <Setting Name="OperationViewer" Type="System.String" IsNull="True"></Setting>
  <Setting Name="ScreenId" Type="System.Int32" IsNull="False">0</Setting>

  <Setting Name="OFP.Interval" Type="System.Int32" IsNull="False">2000</Setting>
  <Setting Name="OFP.MaxAge" Type="System.Int32" IsNull="False">7</Setting>
  <Setting Name="OFP.OnlyNonAcknowledged" Type="System.Boolean" IsNull="False">True</Setting>
  <Setting Name="OFP.LimitAmount" Type="System.Int32" IsNull="False">10</Setting>

  <Setting Name="AOA.IsEnabled" Type="System.Boolean" IsNull="False">True</Setting>
  <Setting Name="AOA.MaxAge" Type="System.Int32" IsNull="False">480</Setting>

  <Setting Name="ScaleFactor" Type="System.Double" IsNull="False">2.0</Setting>
  <Setting Name="AcknowledgeOperationKey" Type="System.String" IsNull="False">B</Setting>
  
  <Setting Name="JobsConfiguration" Type="System.String" IsNull="False" Editor="ExportConfigurationTypeEditor">
    <![CDATA[<ExportConfiguration Type="AlarmWorkflow.Windows.UI.Extensibility.IUIJob">
    <Export Name="PrintingUIJob" IsEnabled="False" />
  </ExportConfiguration>]]></Setting>

</SettingsConfiguration>
