#NoAlert {font-family:Arial; font-size:150px; text-align:center;}
#NoAlert_FZ {font-family:Arial; font-size:30px; text-align:center;}
#AlarmMeldebild {font-family:Arial; font-size:75px; text-align:center;}
#AlarmHinweis {font-family:Arial; font-size: 40px; text-align:center;}
#AlarmOrt {font-family:Arial; font-size:50px; text-align:center;}
#AlarmObjekt {font-family:Arial; font-size:50px; text-align:center;}
#Fahrzeuge {font-family:Arial; font-size:40px; text-align:center;}