<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="INSTALLDIR" Name="Alarmworkflow">
					<Component Id="TheService" Guid="16160CB8-B921-41B2-9133-BEB64B251D1A" DiskId="1">
						<File Id="LicenseFile" Name="license.rtf" Source="license.rtf" />
						<File Source="..\..\AlarmworkflowService\trunk\bin\Release\AlarmworkflowCodeLib.dll" Name="AlarmworkflowCodeLib.dll" Id="AlarmworkflowCodeLib.dll" />
						<File Source="..\..\AlarmworkflowService\trunk\bin\Release\AlarmworkflowService.exe" Name="AlarmworkflowService.exe" Id="AlarmworkflowService.exe" KeyPath="yes" />
						<ServiceInstall DisplayName="AlarmworkflowService" ErrorControl="normal" Id="AlarmworkflowService" Interactive="no" Name="AlarmworkflowService" Type="ownProcess" Vital="yes" Start="auto" Description="AlarmworkflowService" />
						<File Source="..\..\AlarmworkflowCodeLib\trunk\Config\AlarmWorkflow.xml" Name="AlarmWorkflow.xml" Id="AlarmWorkflow.xml" />
						<ServiceControl Name="AlarmworkflowService" Id="AlarmworkflowServiceControl" Remove="uninstall" />
						<File Source="C:\Programme\MySQL\MySQL Connector Net 6.0.0\Assemblies\MySql.Data.dll" Name="MySql.Data.dll" Id="MySql.Data.dll" />
						<File Source="gpl-3.0.txt" Name="gpl-3.0.txt" Id="gpl_3.0.txt" />
						<File Source="readme.txt" Name="readme.txt" Id="readme.txt" />
						<File Source="Version.txt" Name="Version.txt" Id="Version.txt" />
					</Component>
					<Directory Id="CuneiformDirectory" Name="cuneiform">
						<Component Guid="F1D293C9-87A7-40EF-8600-A2E02F76FF58" Id="cuneiform" DiskId="1">
							<File Source="..\..\cuneiform\ccom.dll" Name="ccom.dll" Id="ccom.dll" />
							<File Source="..\..\cuneiform\ccom.exp" Name="ccom.exp" Id="ccom.exp" />
							<File Source="..\..\cuneiform\ccom.idb" Name="ccom.idb" Id="ccom.idb" />
							<File Source="..\..\cuneiform\ccom.lib" Name="ccom.lib" Id="ccom.lib" />
							<File Source="..\..\cuneiform\ced.dll" Name="ced.dll" Id="ced.dll" />
							<File Source="..\..\cuneiform\ced.exp" Name="ced.exp" Id="ced.exp" />
							<File Source="..\..\cuneiform\ced.idb" Name="ced.idb" Id="ced.idb" />
							<File Source="..\..\cuneiform\ced.lib" Name="ced.lib" Id="ced.lib" />
							<File Source="..\..\cuneiform\cfio.dll" Name="cfio.dll" Id="cfio.dll" />
							<File Source="..\..\cuneiform\cfio.exp" Name="cfio.exp" Id="cfio.exp" />
							<File Source="..\..\cuneiform\cfio.idb" Name="cfio.idb" Id="cfio.idb" />
							<File Source="..\..\cuneiform\cfio.lib" Name="cfio.lib" Id="cfio.lib" />
							<File Source="..\..\cuneiform\cimage.dll" Name="cimage.dll" Id="cimage.dll" />
							<File Source="..\..\cuneiform\cimage.exp" Name="cimage.exp" Id="cimage.exp" />
							<File Source="..\..\cuneiform\cimage.idb" Name="cimage.idb" Id="cimage.idb" />
							<File Source="..\..\cuneiform\cimage.lib" Name="cimage.lib" Id="cimage.lib" />
							<File Source="..\..\cuneiform\cline.dll" Name="cline.dll" Id="cline.dll" />
							<File Source="..\..\cuneiform\cline.exp" Name="cline.exp" Id="cline.exp" />
							<File Source="..\..\cuneiform\cline.idb" Name="cline.idb" Id="cline.idb" />
							<File Source="..\..\cuneiform\cline.lib" Name="cline.lib" Id="cline.lib" />
							<File Source="..\..\cuneiform\CMakeLists.txt" Name="CMakeLists.txt" Id="CMakeLists.txt" />
							<File Source="..\..\cuneiform\cpage.dll" Name="cpage.dll" Id="cpage.dll" />
							<File Source="..\..\cuneiform\cpage.exp" Name="cpage.exp" Id="cpage.exp" />
							<File Source="..\..\cuneiform\cpage.idb" Name="cpage.idb" Id="cpage.idb" />
							<File Source="..\..\cuneiform\cpage.lib" Name="cpage.lib" Id="cpage.lib" />
							<File Source="..\..\cuneiform\cpu32.dll" Name="cpu32.dll" Id="cpu32.dll" />
							<File Source="..\..\cuneiform\cpu32.exp" Name="cpu32.exp" Id="cpu32.exp" />
							<File Source="..\..\cuneiform\cpu32.idb" Name="cpu32.idb" Id="cpu32.idb" />
							<File Source="..\..\cuneiform\cpu32.lib" Name="cpu32.lib" Id="cpu32.lib" />
							<File Source="..\..\cuneiform\cstr.dll" Name="cstr.dll" Id="cstr.dll" />
							<File Source="..\..\cuneiform\cstr.exp" Name="cstr.exp" Id="cstr.exp" />
							<File Source="..\..\cuneiform\cstr.idb" Name="cstr.idb" Id="cstr.idb" />
							<File Source="..\..\cuneiform\cstr.lib" Name="cstr.lib" Id="cstr.lib" />
							<File Source="..\..\cuneiform\ctb32.dll" Name="ctb32.dll" Id="ctb32.dll" />
							<File Source="..\..\cuneiform\ctb32.exp" Name="ctb32.exp" Id="ctb32.exp" />
							<File Source="..\..\cuneiform\ctb32.idb" Name="ctb32.idb" Id="ctb32.idb" />
							<File Source="..\..\cuneiform\ctb32.lib" Name="ctb32.lib" Id="ctb32.lib" />
							<File Source="..\..\cuneiform\cube16pd.dat" Name="cube16pd.dat" Id="cube16pd.dat" />
							<File Source="..\..\cuneiform\cube16pl.dat" Name="cube16pl.dat" Id="cube16pl.dat" />
							<File Source="..\..\cuneiform\cube16pr.dat" Name="cube16pr.dat" Id="cube16pr.dat" />
							<File Source="..\..\cuneiform\cube16ps.dat" Name="cube16ps.dat" Id="cube16ps.dat" />
							<File Source="..\..\cuneiform\cube16pt.dat" Name="cube16pt.dat" Id="cube16pt.dat" />
							<File Source="..\..\cuneiform\cubeabde.dat" Name="cubeabde.dat" Id="cubeabde.dat" />
							<File Source="..\..\cuneiform\cuneiform.exe" Name="cuneiform.exe" Id="cuneiform.exe" />
							<File Source="..\..\cuneiform\cuneiform.idb" Name="cuneiform.idb" Id="cuneiform.idb" />
							<File Source="..\..\cuneiform\dc0201.dat" Name="dc0201.dat" Id="dc0201.dat" />
							<File Source="..\..\cuneiform\dc0202.dat" Name="dc0202.dat" Id="dc0202.dat" />
							<File Source="..\..\cuneiform\dc0203.dat" Name="dc0203.dat" Id="dc0203.dat" />
							<File Source="..\..\cuneiform\dc0204.dat" Name="dc0204.dat" Id="dc0204.dat" />
							<File Source="..\..\cuneiform\dc0205.dat" Name="dc0205.dat" Id="dc0205.dat" />
							<File Source="..\..\cuneiform\dc0206.dat" Name="dc0206.dat" Id="dc0206.dat" />
							<File Source="..\..\cuneiform\dc1201.dat" Name="dc1201.dat" Id="dc1201.dat" />
							<File Source="..\..\cuneiform\dc1203.dat" Name="dc1203.dat" Id="dc1203.dat" />
							<File Source="..\..\cuneiform\dc1204.dat" Name="dc1204.dat" Id="dc1204.dat" />
							<File Source="..\..\cuneiform\dc2201.dat" Name="dc2201.dat" Id="dc2201.dat" />
							<File Source="..\..\cuneiform\dc2203.dat" Name="dc2203.dat" Id="dc2203.dat" />
							<File Source="..\..\cuneiform\dc2204.dat" Name="dc2204.dat" Id="dc2204.dat" />
							<File Source="..\..\cuneiform\dc010101.dat" Name="dc010101.dat" Id="dc010101.dat" />
							<File Source="..\..\cuneiform\dc_agr.dat" Name="dc_agr.dat" Id="dc_agr.dat" />
							<File Source="..\..\cuneiform\dc_etrd.dat" Name="dc_etrd.dat" Id="dc_etrd.dat" />
							<File Source="..\..\cuneiform\dc_rtrd.dat" Name="dc_rtrd.dat" Id="dc_rtrd.dat" />
							<File Source="..\..\cuneiform\dif32.dll" Name="dif32.dll" Id="dif32.dll" />
							<File Source="..\..\cuneiform\dif32.exp" Name="dif32.exp" Id="dif32.exp" />
							<File Source="..\..\cuneiform\dif32.idb" Name="dif32.idb" Id="dif32.idb" />
							<File Source="..\..\cuneiform\dif32.lib" Name="dif32.lib" Id="dif32.lib" />
							<File Source="..\..\cuneiform\evn32.dll" Name="evn32.dll" Id="evn32.dll" />
							<File Source="..\..\cuneiform\evn32.exp" Name="evn32.exp" Id="evn32.exp" />
							<File Source="..\..\cuneiform\evn32.idb" Name="evn32.idb" Id="evn32.idb" />
							<File Source="..\..\cuneiform\evn32.lib" Name="evn32.lib" Id="evn32.lib" />
							<File Source="..\..\cuneiform\exc.dll" Name="exc.dll" Id="exc.dll" />
							<File Source="..\..\cuneiform\exc.exp" Name="exc.exp" Id="exc.exp" />
							<File Source="..\..\cuneiform\exc.idb" Name="exc.idb" Id="exc.idb" />
							<File Source="..\..\cuneiform\exc.lib" Name="exc.lib" Id="exc.lib" />
							<File Source="..\..\cuneiform\fon32.dll" Name="fon32.dll" Id="fon32.dll" />
							<File Source="..\..\cuneiform\fon32.exp" Name="fon32.exp" Id="fon32.exp" />
							<File Source="..\..\cuneiform\fon32.idb" Name="fon32.idb" Id="fon32.idb" />
							<File Source="..\..\cuneiform\fon32.lib" Name="fon32.lib" Id="fon32.lib" />
							<File Source="..\..\cuneiform\leo32.dll" Name="leo32.dll" Id="leo32.dll" />
							<File Source="..\..\cuneiform\leo32.exp" Name="leo32.exp" Id="leo32.exp" />
							<File Source="..\..\cuneiform\leo32.idb" Name="leo32.idb" Id="leo32.idb" />
							<File Source="..\..\cuneiform\leo32.lib" Name="leo32.lib" Id="leo32.lib" />
							<File Source="..\..\cuneiform\lns32.dll" Name="lns32.dll" Id="lns32.dll" />
							<File Source="..\..\cuneiform\lns32.exp" Name="lns32.exp" Id="lns32.exp" />
							<File Source="..\..\cuneiform\lns32.idb" Name="lns32.idb" Id="lns32.idb" />
							<File Source="..\..\cuneiform\lns32.lib" Name="lns32.lib" Id="lns32.lib" />
							<File Source="..\..\cuneiform\loc32.dll" Name="loc32.dll" Id="loc32.dll" />
							<File Source="..\..\cuneiform\loc32.exp" Name="loc32.exp" Id="loc32.exp" />
							<File Source="..\..\cuneiform\loc32.idb" Name="loc32.idb" Id="loc32.idb" />
							<File Source="..\..\cuneiform\loc32.lib" Name="loc32.lib" Id="loc32.lib" />
							<File Source="..\..\cuneiform\mmx32.dll" Name="mmx32.dll" Id="mmx32.dll" />
							<File Source="..\..\cuneiform\mmx32.exp" Name="mmx32.exp" Id="mmx32.exp" />
							<File Source="..\..\cuneiform\mmx32.idb" Name="mmx32.idb" Id="mmx32.idb" />
							<File Source="..\..\cuneiform\mmx32.lib" Name="mmx32.lib" Id="mmx32.lib" />
							<File Source="..\..\cuneiform\msk32.dll" Name="msk32.dll" Id="msk32.dll" />
							<File Source="..\..\cuneiform\msk32.exp" Name="msk32.exp" Id="msk32.exp" />
							<File Source="..\..\cuneiform\msk32.idb" Name="msk32.idb" Id="msk32.idb" />
							<File Source="..\..\cuneiform\msk32.lib" Name="msk32.lib" Id="msk32.lib" />
							<File Source="..\..\cuneiform\pass2.dll" Name="pass2.dll" Id="pass2.dll" />
							<File Source="..\..\cuneiform\pass2.exp" Name="pass2.exp" Id="pass2.exp" />
							<File Source="..\..\cuneiform\pass2.idb" Name="pass2.idb" Id="pass2.idb" />
							<File Source="..\..\cuneiform\pass2.lib" Name="pass2.lib" Id="pass2.lib" />
							<File Source="..\..\cuneiform\pln_hpd.dat" Name="pln_hpd.dat" Id="pln_hpd.dat" />
							<File Source="..\..\cuneiform\pln_prc.dat" Name="pln_prc.dat" Id="pln_prc.dat" />
							<File Source="..\..\cuneiform\puma.dll" Name="puma.dll" Id="puma.dll" />
							<File Source="..\..\cuneiform\puma.exp" Name="puma.exp" Id="puma.exp" />
							<File Source="..\..\cuneiform\puma.idb" Name="puma.idb" Id="puma.idb" />
							<File Source="..\..\cuneiform\puma.lib" Name="puma.lib" Id="puma.lib" />
							<File Source="..\..\cuneiform\r3532.dll" Name="r3532.dll" Id="r3532.dll" />
							<File Source="..\..\cuneiform\r3532.exp" Name="r3532.exp" Id="r3532.exp" />
							<File Source="..\..\cuneiform\r3532.idb" Name="r3532.idb" Id="r3532.idb" />
							<File Source="..\..\cuneiform\r3532.lib" Name="r3532.lib" Id="r3532.lib" />
							<File Source="..\..\cuneiform\rbal.dll" Name="rbal.dll" Id="rbal.dll" />
							<File Source="..\..\cuneiform\rbal.exp" Name="rbal.exp" Id="rbal.exp" />
							<File Source="..\..\cuneiform\rbal.idb" Name="rbal.idb" Id="rbal.idb" />
							<File Source="..\..\cuneiform\rbal.lib" Name="rbal.lib" Id="rbal.lib" />
							<File Source="..\..\cuneiform\rblock.dll" Name="rblock.dll" Id="rblock.dll" />
							<File Source="..\..\cuneiform\rblock.exp" Name="rblock.exp" Id="rblock.exp" />
							<File Source="..\..\cuneiform\rblock.idb" Name="rblock.idb" Id="rblock.idb" />
							<File Source="..\..\cuneiform\rblock.lib" Name="rblock.lib" Id="rblock.lib" />
							<File Source="..\..\cuneiform\rcorrkegl.dll" Name="rcorrkegl.dll" Id="rcorrkegl.dll" />
							<File Source="..\..\cuneiform\rcorrkegl.exp" Name="rcorrkegl.exp" Id="rcorrkegl.exp" />
							<File Source="..\..\cuneiform\rcorrkegl.idb" Name="rcorrkegl.idb" Id="rcorrkegl.idb" />
							<File Source="..\..\cuneiform\rcorrkegl.lib" Name="rcorrkegl.lib" Id="rcorrkegl.lib" />
							<File Source="..\..\cuneiform\rcutp.dll" Name="rcutp.dll" Id="rcutp.dll" />
							<File Source="..\..\cuneiform\rcutp.exp" Name="rcutp.exp" Id="rcutp.exp" />
							<File Source="..\..\cuneiform\rcutp.idb" Name="rcutp.idb" Id="rcutp.idb" />
							<File Source="..\..\cuneiform\rcutp.lib" Name="rcutp.lib" Id="rcutp.lib" />
							<File Source="..\..\cuneiform\rdib.dll" Name="rdib.dll" Id="rdib.dll" />
							<File Source="..\..\cuneiform\rdib.exp" Name="rdib.exp" Id="rdib.exp" />
							<File Source="..\..\cuneiform\rdib.idb" Name="rdib.idb" Id="rdib.idb" />
							<File Source="..\..\cuneiform\rdib.lib" Name="rdib.lib" Id="rdib.lib" />
							<File Source="..\..\cuneiform\rec1.dat" Name="rec1.dat" Id="rec1.dat" />
							<File Source="..\..\cuneiform\rec1blt.dat" Name="rec1blt.dat" Id="rec1blt.dat" />
							<File Source="..\..\cuneiform\rec1cen.dat" Name="rec1cen.dat" Id="rec1cen.dat" />
							<File Source="..\..\cuneiform\rec1n.dat" Name="rec1n.dat" Id="rec1n.dat" />
							<File Source="..\..\cuneiform\rec1r&amp;e.dat" Name="rec1r&amp;e.dat" Id="rec1r_e.dat" />
							<File Source="..\..\cuneiform\rec1rus.dat" Name="rec1rus.dat" Id="rec1rus.dat" />
							<File Source="..\..\cuneiform\rec1tur.dat" Name="rec1tur.dat" Id="rec1tur.dat" />
							<File Source="..\..\cuneiform\rec2.dat" Name="rec2.dat" Id="rec2.dat" />
							<File Source="..\..\cuneiform\rec2blt.dat" Name="rec2blt.dat" Id="rec2blt.dat" />
							<File Source="..\..\cuneiform\rec2cen.dat" Name="rec2cen.dat" Id="rec2cen.dat" />
							<File Source="..\..\cuneiform\rec2n.dat" Name="rec2n.dat" Id="rec2n.dat" />
							<File Source="..\..\cuneiform\rec2r&amp;e.dat" Name="rec2r&amp;e.dat" Id="rec2r_e.dat" />
							<File Source="..\..\cuneiform\rec2rus.dat" Name="rec2rus.dat" Id="rec2rus.dat" />
							<File Source="..\..\cuneiform\rec2tur.dat" Name="rec2tur.dat" Id="rec2tur.dat" />
							<File Source="..\..\cuneiform\rec3.dat" Name="rec3.dat" Id="rec3.dat" />
							<File Source="..\..\cuneiform\rec3blt.dat" Name="rec3blt.dat" Id="rec3blt.dat" />
							<File Source="..\..\cuneiform\rec3cen.dat" Name="rec3cen.dat" Id="rec3cen.dat" />
							<File Source="..\..\cuneiform\rec3n.dat" Name="rec3n.dat" Id="rec3n.dat" />
							<File Source="..\..\cuneiform\rec3r&amp;e.dat" Name="rec3r&amp;e.dat" Id="rec3r_e.dat" />
							<File Source="..\..\cuneiform\rec3rus.dat" Name="rec3rus.dat" Id="rec3rus.dat" />
							<File Source="..\..\cuneiform\rec3tur.dat" Name="rec3tur.dat" Id="rec3tur.dat" />
							<File Source="..\..\cuneiform\rec4cour.dat" Name="rec4cour.dat" Id="rec4cour.dat" />
							<File Source="..\..\cuneiform\rec4inc.dat" Name="rec4inc.dat" Id="rec4inc.dat" />
							<File Source="..\..\cuneiform\rec4mtr.dat" Name="rec4mtr.dat" Id="rec4mtr.dat" />
							<File Source="..\..\cuneiform\rec4r&amp;e.dat" Name="rec4r&amp;e.dat" Id="rec4r_e.dat" />
							<File Source="..\..\cuneiform\rec6.dat" Name="rec6.dat" Id="rec6.dat" />
							<File Source="..\..\cuneiform\rec6all.dat" Name="rec6all.dat" Id="rec6all.dat" />
							<File Source="..\..\cuneiform\rec6bul.dat" Name="rec6bul.dat" Id="rec6bul.dat" />
							<File Source="..\..\cuneiform\rec6cro.dat" Name="rec6cro.dat" Id="rec6cro.dat" />
							<File Source="..\..\cuneiform\rec6cze.dat" Name="rec6cze.dat" Id="rec6cze.dat" />
							<File Source="..\..\cuneiform\rec6dan.dat" Name="rec6dan.dat" Id="rec6dan.dat" />
							<File Source="..\..\cuneiform\rec6dut.dat" Name="rec6dut.dat" Id="rec6dut.dat" />
							<File Source="..\..\cuneiform\rec6est.dat" Name="rec6est.dat" Id="rec6est.dat" />
							<File Source="..\..\cuneiform\rec6frn.dat" Name="rec6frn.dat" Id="rec6frn.dat" />
							<File Source="..\..\cuneiform\rec6grm.dat" Name="rec6grm.dat" Id="rec6grm.dat" />
							<File Source="..\..\cuneiform\rec6hun.dat" Name="rec6hun.dat" Id="rec6hun.dat" />
							<File Source="..\..\cuneiform\rec6ita.dat" Name="rec6ita.dat" Id="rec6ita.dat" />
							<File Source="..\..\cuneiform\rec6lat.dat" Name="rec6lat.dat" Id="rec6lat.dat" />
							<File Source="..\..\cuneiform\rec6lit.dat" Name="rec6lit.dat" Id="rec6lit.dat" />
							<File Source="..\..\cuneiform\rec6pol.dat" Name="rec6pol.dat" Id="rec6pol.dat" />
							<File Source="..\..\cuneiform\rec6por.dat" Name="rec6por.dat" Id="rec6por.dat" />
							<File Source="..\..\cuneiform\rec6rom.dat" Name="rec6rom.dat" Id="rec6rom.dat" />
							<File Source="..\..\cuneiform\rec6rus.dat" Name="rec6rus.dat" Id="rec6rus.dat" />
							<File Source="..\..\cuneiform\rec6ser.dat" Name="rec6ser.dat" Id="rec6ser.dat" />
							<File Source="..\..\cuneiform\rec6slo.dat" Name="rec6slo.dat" Id="rec6slo.dat" />
							<File Source="..\..\cuneiform\rec6spa.dat" Name="rec6spa.dat" Id="rec6spa.dat" />
							<File Source="..\..\cuneiform\rec6swe.dat" Name="rec6swe.dat" Id="rec6swe.dat" />
							<File Source="..\..\cuneiform\rec6tur.dat" Name="rec6tur.dat" Id="rec6tur.dat" />
							<File Source="..\..\cuneiform\rec6ukr.dat" Name="rec6ukr.dat" Id="rec6ukr.dat" />
							<File Source="..\..\cuneiform\rec7.dat" Name="rec7.dat" Id="rec7.dat" />
							<File Source="..\..\cuneiform\rec7bul.dat" Name="rec7bul.dat" Id="rec7bul.dat" />
							<File Source="..\..\cuneiform\rec7cro.dat" Name="rec7cro.dat" Id="rec7cro.dat" />
							<File Source="..\..\cuneiform\rec7cze.dat" Name="rec7cze.dat" Id="rec7cze.dat" />
							<File Source="..\..\cuneiform\rec7dan.dat" Name="rec7dan.dat" Id="rec7dan.dat" />
							<File Source="..\..\cuneiform\rec7dut.dat" Name="rec7dut.dat" Id="rec7dut.dat" />
							<File Source="..\..\cuneiform\rec7est.dat" Name="rec7est.dat" Id="rec7est.dat" />
							<File Source="..\..\cuneiform\rec7frn.dat" Name="rec7frn.dat" Id="rec7frn.dat" />
							<File Source="..\..\cuneiform\rec7grm.dat" Name="rec7grm.dat" Id="rec7grm.dat" />
							<File Source="..\..\cuneiform\rec7hun.dat" Name="rec7hun.dat" Id="rec7hun.dat" />
							<File Source="..\..\cuneiform\rec7ita.dat" Name="rec7ita.dat" Id="rec7ita.dat" />
							<File Source="..\..\cuneiform\rec7lat.dat" Name="rec7lat.dat" Id="rec7lat.dat" />
							<File Source="..\..\cuneiform\rec7lit.dat" Name="rec7lit.dat" Id="rec7lit.dat" />
							<File Source="..\..\cuneiform\rec7pol.dat" Name="rec7pol.dat" Id="rec7pol.dat" />
							<File Source="..\..\cuneiform\rec7por.dat" Name="rec7por.dat" Id="rec7por.dat" />
							<File Source="..\..\cuneiform\rec7rom.dat" Name="rec7rom.dat" Id="rec7rom.dat" />
							<File Source="..\..\cuneiform\rec7rus.dat" Name="rec7rus.dat" Id="rec7rus.dat" />
							<File Source="..\..\cuneiform\rec7ser.dat" Name="rec7ser.dat" Id="rec7ser.dat" />
							<File Source="..\..\cuneiform\rec7slo.dat" Name="rec7slo.dat" Id="rec7slo.dat" />
							<File Source="..\..\cuneiform\rec7spa.dat" Name="rec7spa.dat" Id="rec7spa.dat" />
							<File Source="..\..\cuneiform\rec7swe.dat" Name="rec7swe.dat" Id="rec7swe.dat" />
							<File Source="..\..\cuneiform\rec7tur.dat" Name="rec7tur.dat" Id="rec7tur.dat" />
							<File Source="..\..\cuneiform\rec7ukr.dat" Name="rec7ukr.dat" Id="rec7ukr.dat" />
							<File Source="..\..\cuneiform\rec8.dat" Name="rec8.dat" Id="rec8.dat" />
							<File Source="..\..\cuneiform\rec8bul.dat" Name="rec8bul.dat" Id="rec8bul.dat" />
							<File Source="..\..\cuneiform\rec8cro.dat" Name="rec8cro.dat" Id="rec8cro.dat" />
							<File Source="..\..\cuneiform\rec8cze.dat" Name="rec8cze.dat" Id="rec8cze.dat" />
							<File Source="..\..\cuneiform\rec8dan.dat" Name="rec8dan.dat" Id="rec8dan.dat" />
							<File Source="..\..\cuneiform\rec8dut.dat" Name="rec8dut.dat" Id="rec8dut.dat" />
							<File Source="..\..\cuneiform\rec8est.dat" Name="rec8est.dat" Id="rec8est.dat" />
							<File Source="..\..\cuneiform\rec8frn.dat" Name="rec8frn.dat" Id="rec8frn.dat" />
							<File Source="..\..\cuneiform\rec8grm.dat" Name="rec8grm.dat" Id="rec8grm.dat" />
							<File Source="..\..\cuneiform\rec8hun.dat" Name="rec8hun.dat" Id="rec8hun.dat" />
							<File Source="..\..\cuneiform\rec8ita.dat" Name="rec8ita.dat" Id="rec8ita.dat" />
							<File Source="..\..\cuneiform\rec8lat.dat" Name="rec8lat.dat" Id="rec8lat.dat" />
							<File Source="..\..\cuneiform\rec8lit.dat" Name="rec8lit.dat" Id="rec8lit.dat" />
							<File Source="..\..\cuneiform\rec8pol.dat" Name="rec8pol.dat" Id="rec8pol.dat" />
							<File Source="..\..\cuneiform\rec8por.dat" Name="rec8por.dat" Id="rec8por.dat" />
							<File Source="..\..\cuneiform\rec8rom.dat" Name="rec8rom.dat" Id="rec8rom.dat" />
							<File Source="..\..\cuneiform\rec8rus.dat" Name="rec8rus.dat" Id="rec8rus.dat" />
							<File Source="..\..\cuneiform\rec8ser.dat" Name="rec8ser.dat" Id="rec8ser.dat" />
							<File Source="..\..\cuneiform\rec8slo.dat" Name="rec8slo.dat" Id="rec8slo.dat" />
							<File Source="..\..\cuneiform\rec8spa.dat" Name="rec8spa.dat" Id="rec8spa.dat" />
							<File Source="..\..\cuneiform\rec8swe.dat" Name="rec8swe.dat" Id="rec8swe.dat" />
							<File Source="..\..\cuneiform\rec8tur.dat" Name="rec8tur.dat" Id="rec8tur.dat" />
							<File Source="..\..\cuneiform\rec8ukr.dat" Name="rec8ukr.dat" Id="rec8ukr.dat" />
							<File Source="..\..\cuneiform\rec9.dat" Name="rec9.dat" Id="rec9.dat" />
							<File Source="..\..\cuneiform\rec9bul.dat" Name="rec9bul.dat" Id="rec9bul.dat" />
							<File Source="..\..\cuneiform\rec9cro.dat" Name="rec9cro.dat" Id="rec9cro.dat" />
							<File Source="..\..\cuneiform\rec9cze.dat" Name="rec9cze.dat" Id="rec9cze.dat" />
							<File Source="..\..\cuneiform\rec9dan.dat" Name="rec9dan.dat" Id="rec9dan.dat" />
							<File Source="..\..\cuneiform\rec9dut.dat" Name="rec9dut.dat" Id="rec9dut.dat" />
							<File Source="..\..\cuneiform\rec9est.dat" Name="rec9est.dat" Id="rec9est.dat" />
							<File Source="..\..\cuneiform\rec9frn.dat" Name="rec9frn.dat" Id="rec9frn.dat" />
							<File Source="..\..\cuneiform\rec9grm.dat" Name="rec9grm.dat" Id="rec9grm.dat" />
							<File Source="..\..\cuneiform\rec9hun.dat" Name="rec9hun.dat" Id="rec9hun.dat" />
							<File Source="..\..\cuneiform\rec9ita.dat" Name="rec9ita.dat" Id="rec9ita.dat" />
							<File Source="..\..\cuneiform\rec9lat.dat" Name="rec9lat.dat" Id="rec9lat.dat" />
							<File Source="..\..\cuneiform\rec9lit.dat" Name="rec9lit.dat" Id="rec9lit.dat" />
							<File Source="..\..\cuneiform\rec9pol.dat" Name="rec9pol.dat" Id="rec9pol.dat" />
							<File Source="..\..\cuneiform\rec9por.dat" Name="rec9por.dat" Id="rec9por.dat" />
							<File Source="..\..\cuneiform\rec9rom.dat" Name="rec9rom.dat" Id="rec9rom.dat" />
							<File Source="..\..\cuneiform\rec9rus.dat" Name="rec9rus.dat" Id="rec9rus.dat" />
							<File Source="..\..\cuneiform\rec9ser.dat" Name="rec9ser.dat" Id="rec9ser.dat" />
							<File Source="..\..\cuneiform\rec9slo.dat" Name="rec9slo.dat" Id="rec9slo.dat" />
							<File Source="..\..\cuneiform\rec9spa.dat" Name="rec9spa.dat" Id="rec9spa.dat" />
							<File Source="..\..\cuneiform\rec9swe.dat" Name="rec9swe.dat" Id="rec9swe.dat" />
							<File Source="..\..\cuneiform\rec9tur.dat" Name="rec9tur.dat" Id="rec9tur.dat" />
							<File Source="..\..\cuneiform\rec9ukr.dat" Name="rec9ukr.dat" Id="rec9ukr.dat" />
							<File Source="..\..\cuneiform\rfrmt.dll" Name="rfrmt.dll" Id="rfrmt.dll" />
							<File Source="..\..\cuneiform\rfrmt.exp" Name="rfrmt.exp" Id="rfrmt.exp" />
							<File Source="..\..\cuneiform\rfrmt.idb" Name="rfrmt.idb" Id="rfrmt.idb" />
							<File Source="..\..\cuneiform\rfrmt.lib" Name="rfrmt.lib" Id="rfrmt.lib" />
							<File Source="..\..\cuneiform\rimage.dll" Name="rimage.dll" Id="rimage.dll" />
							<File Source="..\..\cuneiform\rimage.exp" Name="rimage.exp" Id="rimage.exp" />
							<File Source="..\..\cuneiform\rimage.idb" Name="rimage.idb" Id="rimage.idb" />
							<File Source="..\..\cuneiform\rimage.lib" Name="rimage.lib" Id="rimage.lib" />
							<File Source="..\..\cuneiform\rline.dll" Name="rline.dll" Id="rline.dll" />
							<File Source="..\..\cuneiform\rline.exp" Name="rline.exp" Id="rline.exp" />
							<File Source="..\..\cuneiform\rline.idb" Name="rline.idb" Id="rline.idb" />
							<File Source="..\..\cuneiform\rline.lib" Name="rline.lib" Id="rline.lib" />
							<File Source="..\..\cuneiform\rling.dll" Name="rling.dll" Id="rling.dll" />
							<File Source="..\..\cuneiform\rling.exp" Name="rling.exp" Id="rling.exp" />
							<File Source="..\..\cuneiform\rling.idb" Name="rling.idb" Id="rling.idb" />
							<File Source="..\..\cuneiform\rling.lib" Name="rling.lib" Id="rling.lib" />
							<File Source="..\..\cuneiform\rlings.dll" Name="rlings.dll" Id="rlings.dll" />
							<File Source="..\..\cuneiform\rlings.exp" Name="rlings.exp" Id="rlings.exp" />
							<File Source="..\..\cuneiform\rlings.idb" Name="rlings.idb" Id="rlings.idb" />
							<File Source="..\..\cuneiform\rlings.lib" Name="rlings.lib" Id="rlings.lib" />
							<File Source="..\..\cuneiform\rmarker.dll" Name="rmarker.dll" Id="rmarker.dll" />
							<File Source="..\..\cuneiform\rmarker.exp" Name="rmarker.exp" Id="rmarker.exp" />
							<File Source="..\..\cuneiform\rmarker.idb" Name="rmarker.idb" Id="rmarker.idb" />
							<File Source="..\..\cuneiform\rmarker.lib" Name="rmarker.lib" Id="rmarker.lib" />
							<File Source="..\..\cuneiform\rneg.dll" Name="rneg.dll" Id="rneg.dll" />
							<File Source="..\..\cuneiform\rneg.exp" Name="rneg.exp" Id="rneg.exp" />
							<File Source="..\..\cuneiform\rneg.idb" Name="rneg.idb" Id="rneg.idb" />
							<File Source="..\..\cuneiform\rneg.lib" Name="rneg.lib" Id="rneg.lib" />
							<File Source="..\..\cuneiform\rout.dll" Name="rout.dll" Id="rout.dll" />
							<File Source="..\..\cuneiform\rout.exp" Name="rout.exp" Id="rout.exp" />
							<File Source="..\..\cuneiform\rout.idb" Name="rout.idb" Id="rout.idb" />
							<File Source="..\..\cuneiform\rout.lib" Name="rout.lib" Id="rout.lib" />
							<File Source="..\..\cuneiform\rpic.dll" Name="rpic.dll" Id="rpic.dll" />
							<File Source="..\..\cuneiform\rpic.exp" Name="rpic.exp" Id="rpic.exp" />
							<File Source="..\..\cuneiform\rpic.idb" Name="rpic.idb" Id="rpic.idb" />
							<File Source="..\..\cuneiform\rpic.lib" Name="rpic.lib" Id="rpic.lib" />
							<File Source="..\..\cuneiform\rpstr.dll" Name="rpstr.dll" Id="rpstr.dll" />
							<File Source="..\..\cuneiform\rpstr.exp" Name="rpstr.exp" Id="rpstr.exp" />
							<File Source="..\..\cuneiform\rpstr.idb" Name="rpstr.idb" Id="rpstr.idb" />
							<File Source="..\..\cuneiform\rpstr.lib" Name="rpstr.lib" Id="rpstr.lib" />
							<File Source="..\..\cuneiform\rreccom.dll" Name="rreccom.dll" Id="rreccom.dll" />
							<File Source="..\..\cuneiform\rreccom.exp" Name="rreccom.exp" Id="rreccom.exp" />
							<File Source="..\..\cuneiform\rreccom.idb" Name="rreccom.idb" Id="rreccom.idb" />
							<File Source="..\..\cuneiform\rreccom.lib" Name="rreccom.lib" Id="rreccom.lib" />
							<File Source="..\..\cuneiform\rsadd.dll" Name="rsadd.dll" Id="rsadd.dll" />
							<File Source="..\..\cuneiform\rsadd.exp" Name="rsadd.exp" Id="rsadd.exp" />
							<File Source="..\..\cuneiform\rsadd.idb" Name="rsadd.idb" Id="rsadd.idb" />
							<File Source="..\..\cuneiform\rsadd.lib" Name="rsadd.lib" Id="rsadd.lib" />
							<File Source="..\..\cuneiform\rselstr.dll" Name="rselstr.dll" Id="rselstr.dll" />
							<File Source="..\..\cuneiform\rselstr.exp" Name="rselstr.exp" Id="rselstr.exp" />
							<File Source="..\..\cuneiform\rselstr.idb" Name="rselstr.idb" Id="rselstr.idb" />
							<File Source="..\..\cuneiform\rselstr.lib" Name="rselstr.lib" Id="rselstr.lib" />
							<File Source="..\..\cuneiform\rshelllines.dll" Name="rshelllines.dll" Id="rshelllines.dll" />
							<File Source="..\..\cuneiform\rshelllines.exp" Name="rshelllines.exp" Id="rshelllines.exp" />
							<File Source="..\..\cuneiform\rshelllines.idb" Name="rshelllines.idb" Id="rshelllines.idb" />
							<File Source="..\..\cuneiform\rshelllines.lib" Name="rshelllines.lib" Id="rshelllines.lib" />
							<File Source="..\..\cuneiform\rstr.dll" Name="rstr.dll" Id="rstr.dll" />
							<File Source="..\..\cuneiform\rstr.exp" Name="rstr.exp" Id="rstr.exp" />
							<File Source="..\..\cuneiform\rstr.idb" Name="rstr.idb" Id="rstr.idb" />
							<File Source="..\..\cuneiform\rstr.lib" Name="rstr.lib" Id="rstr.lib" />
							<File Source="..\..\cuneiform\rstuff.dll" Name="rstuff.dll" Id="rstuff.dll" />
							<File Source="..\..\cuneiform\rstuff.exp" Name="rstuff.exp" Id="rstuff.exp" />
							<File Source="..\..\cuneiform\rstuff.idb" Name="rstuff.idb" Id="rstuff.idb" />
							<File Source="..\..\cuneiform\rstuff.lib" Name="rstuff.lib" Id="rstuff.lib" />
							<File Source="..\..\cuneiform\rverline.dll" Name="rverline.dll" Id="rverline.dll" />
							<File Source="..\..\cuneiform\rverline.exp" Name="rverline.exp" Id="rverline.exp" />
							<File Source="..\..\cuneiform\rverline.idb" Name="rverline.idb" Id="rverline.idb" />
							<File Source="..\..\cuneiform\rverline.lib" Name="rverline.lib" Id="rverline.lib" />
							<File Source="..\..\cuneiform\smetric.dll" Name="smetric.dll" Id="smetric.dll" />
							<File Source="..\..\cuneiform\smetric.exp" Name="smetric.exp" Id="smetric.exp" />
							<File Source="..\..\cuneiform\smetric.idb" Name="smetric.idb" Id="smetric.idb" />
							<File Source="..\..\cuneiform\smetric.lib" Name="smetric.lib" Id="smetric.lib" />
							<File Source="..\..\cuneiform\std32.dll" Name="std32.dll" Id="std32.dll" />
							<File Source="..\..\cuneiform\std32.exp" Name="std32.exp" Id="std32.exp" />
							<File Source="..\..\cuneiform\std32.idb" Name="std32.idb" Id="std32.idb" />
							<File Source="..\..\cuneiform\std32.lib" Name="std32.lib" Id="std32.lib" />
							<File Source="..\..\cuneiform\vital.dat" Name="vital.dat" Id="vital.dat" />
							<File Source="..\..\cuneiform\viteng.dat" Name="viteng.dat" Id="viteng.dat" />
							<File Source="..\..\cuneiform\windummy.dll" Name="windummy.dll" Id="windummy.dll" />
							<File Source="..\..\cuneiform\windummy.exp" Name="windummy.exp" Id="windummy.exp" />
							<File Source="..\..\cuneiform\windummy.idb" Name="windummy.idb" Id="windummy.idb" />
							<File Source="..\..\cuneiform\windummy.lib" Name="windummy.lib" Id="windummy.lib" />
						</Component>
					</Directory>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>