<?xml version="1.0" encoding="utf-8"?>

<SettingsConfiguration Version="1" Identifier="eAlarm">
  <Setting Name="header" Type="System.String" IsNull="False">Einsatz vom {Timestamp}</Setting>
  <Setting Name="text" Type="System.String" IsNull="False">
    <![CDATA[Einsatz vom {Timestamp} (Einsatzzeitpunkt)
Einsatznr.: {OperationNumber}
Stichwörter: {Keywords}
Hinweis: {Comment}
Meldebild: {Picture}

Einsatzort: {Einsatzort}
Kreuzung: {Einsatzort.Intersection}
Objekt: {Einsatzort.Property}

Einsatzplan: {OperationPlan}
Mitteiler: {Messenger}
Fahrzeuge:
{Resources}]]>
  </Setting>
  <Setting Name="Encryption" Type="System.Boolean">False</Setting>
  <Setting Name="EncryptionKey" Type="System.String"></Setting>
</SettingsConfiguration>