@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Willkommen</h1>
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}
<h3>Was möchten Sie tun?</h3>
<ul class="round">
    <li>
        <h5>@Html.ActionLink("Zur Alarmanzeige wechseln...", "Index", "Display/Alarm")</h5>        
    </li>
    <li>
        <h5>@Html.ActionLink("Alarme ansehen...", "Index", "Reporting/Alarms")</h5>        
    </li>
</ul>
