<?xml version="1.0" encoding="utf-8" ?>
<SettingsConfiguration Version="1" Identifier="MailingJob">
  <Setting Name="HostName" Type="System.String"></Setting>
  <Setting Name="UseSsl" Type="System.Boolean">False</Setting>
  <Setting Name="UserName" Type="System.String"></Setting>
  <Setting Name="Password" Type="System.String"></Setting>
  <Setting Name="Authenticate" Type="System.Boolean">False</Setting>
  <Setting Name="Port" Type="System.Int32">25</Setting>
  <Setting Name="SenderAddress" Type="System.String" IsNull="False"></Setting>

  <Setting Name="EMailSubject" Type="System.String" IsNull="True"></Setting>
  <Setting Name="EMailBody" Type="System.String" IsNull="False">
<![CDATA[AlarmMail vom {Timestamp} (Einsatzzeitpunkt)
Einsatznr.: {OperationNumber}
Stichwörter: {Keywords}
Hinweis: {Comment}
Meldebild: {Picture}

Einsatzort: {Einsatzort}
Kreuzung: {Einsatzort.Intersection}
Objekt: {Einsatzort.Property}

Zielort: {Zielort}
Kreuzung: {Zielort.Intersection}
Objekt: {Zielort.Property}

Einsatzplan: {OperationPlan}
Mitteiler: {Messenger}
Fahrzeuge:
{Resources}]]></Setting>

  <Setting Name="AttachImage" Type="System.Boolean">False</Setting>
</SettingsConfiguration>
